{% extends 'base.html' %}

{% block content %}
<h3>批量添加学生成绩</h3>
  
  {% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
      <thead>
        <tr>
          <td></td>
          <td></td>
          <td>设置日期</td>
          <td><input type="date" name="All_datePick" id="allDatePick" value=""></td>
      </tr>
        <tr>
          <th>学生姓名</th>
          <th>分数</th>
          <th>加分</th>
          <th>日期</th>
          <th>信息</th>
        </tr>
      </thead>
      <tbody>
        {% for student, form in students_forms %}
          <tr>
            <td>{{ student.name  }}</td>
            <td>{{ form.score }}</td>
            <td>{{ form.add_score }}</td>
            <td>{{ form.date }}</td>
            <td>
              {% if form.errors %}
                    <div style="font-size:xx-small" class="alert alert-danger">
                      <p>请修正以下错误：</p>
                      <ul>
                        {% for field, errors in errors_forms %}
                          {% for error in errors %}
                            <li>{{ field.name }}: {{ error }}</li>
                          {% endfor %}
                        {% endfor %}
                      </ul>
                    </div>
                     {% endif %}
          </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit" value="提交">
  </form>


<script lang="js">
    function setAllDate() {
  // 获取所有日期输入框
  var dateInputs = document.querySelectorAll('input[type="date"]');
  // 获取选择的日期
  var selectedDate = document.getElementById('allDatePick').value;
  // 遍历所有日期输入框，将它们的值设置为选择的日期
  for (var i = 0; i < dateInputs.length; i++) {
    dateInputs[i].value = selectedDate;
  }
}
var today = new Date();
var year = today.getFullYear();
var month = (today.getMonth() + 1).toString().padStart(2, '0');
var day = today.getDate().toString().padStart(2, '0');
var dateString = `${year}-${month}-${day}`;
// 将函数绑定到选择框的 onchange 事件上
document.getElementById('allDatePick').value = dateString;
document.getElementById('allDatePick').onchange = setAllDate;


</script>


{% endblock %}