<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <script>{% load static %}</script>
     <!-- 引入 jQuery 和 Bootstrap JavaScript -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.slim.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>

    <!-- 引入 Bootstrap 的 JavaScript 文件 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap 的 CSS 文件 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>NewDream Of Dali</title>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">大理一小 二（1）班 书法练习得分记录</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">学生列表<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../score/">成绩单</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">统计</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <!-- 内容区域 -->
        <h1>书法练习得分记录</h1>
        <p>大理一小 二（1）班 </p>
        <div class="container mt-4">
            {% block content %}
            {% endblock %}
        </div>
        <!-- 内容区域结束 -->
    </div>

</body>
</html>
