{% extends 'base.html' %}

{% block content %}
  <h2>练习打卡</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.student.id_for_label }}">学生姓名</label>
        <select id="{{ form.student.id_for_label }}" name="{{ form.student.name }}" class="form-control">
            {% for student in mystudent %}
                <option value="{{ student.pk }}">{{ student.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="{{ form.checkin_text.id_for_label }}">打卡感言</label>
        {{ form.checkin_text }}
    </div>
    <div class="form-group">
        <label for="{{ form.checkin_image.id_for_label }}">练习照片</label>
        {{ form.checkin_image }}
    </div>
    
    <button type="submit" class="btn btn-primary">提交</button>
</form>
{% endblock %}