{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
<style>
  #imageModal .modal-body {
  max-height: 80vh;
  text-align: center;
}

#modalImage {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.bg-primary {
  background-color: #60a9f8; 
  color: #fff;
  }
  .card {
    border-radius: 10px;
}

</style>
<ul class="nav nav-tabs">
  <li class="nav-item" style="width: 50%;">
      <h2 class="nav-link{% if forloop.first %} active {% endif %}" data-toggle="tab" href="#score1">得分榜信息</h2>
  </li>
  <li class="nav-item" style="width: 50%;">
    <h2 class="nav-link{% if forloop.first %} active {% endif %}" data-toggle="tab" href="#score2">积分榜信息</h2>
</li>
</ul>
  <!-- 创建标签页内容 -->
  <div class="tab-content">
        <div class="tab-pane{% if forloop.first %} active{% endif %}" id="score1">
          <div class="row">
            <div class="col-md-6">
              <h2 class="my-5">得分排行榜</h2>
              <ol class="list-group">
                {% for student in Score_top_students %}
                  <li class="list-group-item d-flex justify-content-between align-items-center {% if forloop.counter == 1 %}first{% elif forloop.counter == 2 %}second{% elif forloop.counter == 3 %}third{% endif %}">
                    <span>{% if forloop.counter <= 10 %}<span class="badge bg-primary me-2">{{ forloop.counter }}</span>{% endif %}{{ student.student__name }}</span>
                    <span class="badge bg-primary rounded-pill">{{ student.total_score }} 分</span>
                  </li>
                {% endfor %}
              </ol>
            </div>
        
            <div class="col-md-6">
              <h2 class="my-5">统计信息</h2>
              <div class="row">
                <div class="col-md-6">
                  <div class="card mb-5 text-center" >
                    <div class="card-header bg-primary">
                      <h2 class="card-title">学生总数</h2>
                    </div>
                    <div class="card-body">
                      <h3 class="card-text">{{ Score_num_students }}</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card mb-5 text-center" >
                    <div class="card-header bg-primary">
                      <h2 class="card-title">最高总分</h2>
                    </div>
                    <div class="card-body">
                      <h3 class="card-text">{{ Score_topOne.student__name }}({{Score_topOne.total_score}})</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card mb-5 text-center" >
                    <div class="card-header bg-primary">
                      <h2 class="card-title">本周最高分</h2>
                    </div>
                    <div class="card-body">
                      <h3 class="card-text">{{ Score_this_week_high_score }}</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card mb-5 text-center" >
                    <div class="card-header bg-primary">
                      <h2 class="card-title">本周最高加分</h2>
                    </div>
                    <div class="card-body">
                      <h3 class="card-text">{{ Score_this_week_high_add_score }}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane{% if forloop.first %} active{% endif %}" id="score2">
          <div class="row">
            <div class="col-md-6">
              <h2 class="my-5">积分排行榜</h2>
              <ol class="list-group">
                {% for student in top_students %}
                  <li class="list-group-item d-flex justify-content-between align-items-center {% if forloop.counter == 1 %}first{% elif forloop.counter == 2 %}second{% elif forloop.counter == 3 %}third{% endif %}">
                    <span>{% if forloop.counter <= 10 %}<span class="badge bg-primary me-2">{{ forloop.counter }}</span>{% endif %}{{ student.name }}</span>
                    <span class="badge bg-primary rounded-pill">{{ student.total_score }} 分</span>
                  </li>
                {% endfor %}
              </ol>
            </div>
        
            <div class="col-md-6">
              <h2 class="my-5">统计信息</h2>
              <div class="row">
                <div class="col-md-6">
                  <div class="card mb-5 text-center" >
                    <div class="card-header bg-primary">
                      <h2 class="card-title">学生总数</h2>
                    </div>
                    <div class="card-body">
                      <h3 class="card-text">{{ num_students }}</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card mb-5 text-center" >
                    <div class="card-header bg-primary">
                      <h2 class="card-title">今天打卡人数</h2>
                    </div>
                    <div class="card-body">
                      <h3 class="card-text">{{ num_checkins_today }}</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card mb-5 text-center" >
                    <div class="card-header bg-primary">
                      <h2 class="card-title">本周打卡人数</h2>
                    </div>
                    <div class="card-body">
                      <h3 class="card-text">{{ num_checkins_this_week }}</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card mb-5 text-center" >
                    <div class="card-header bg-primary">
                      <h2 class="card-title">总打卡次数</h2>
                    </div>
                    <div class="card-body">
                      <h3 class="card-text">{{ num_checkins_total }}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
<div class="container my-5">
  
  
  <h2 class="my-5">打卡记录</h2>
  <div class="card-deck">
    {% for checkin in checkins %}
      <div class="card mb-5">
        <div class="card-header bg-primary">
          
            <h5 class="card-title" style="display: inline-block;">{{ checkin.student.name }}</h5>
            <p class="badge bg-primary rounded-pill">班级: {{ checkin.student.Classes }}</p>
            <p class="badge bg-primary rounded-pill">打卡时间: {{ checkin.checkin_date|date:'Y-m-d H:i:s'|time_since_checkin }}</p>
        
        </div>
        
        <div class="card-body">
          <p class="card-text">{{ checkin.checkin_text }}</p>
        </div>
        {% if checkin.checkin_image %}
          <img class="card-img-bottom" src="{{ MEDIA_URL }}{{ checkin.checkin_image.url }}" alt="{{ checkin.checkin_text }}">
        {% endif %}
        
      </div>
    {% endfor %}
  </div>

  <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img id="modalImage" src="" alt="">
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  $('#imageModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var image = button.data('image'); // Extract info from data-* attributes
    var modalImage = $(this).find('#modalImage');
    modalImage.attr('src', image);
  })
</script>

{% endblock %}
