{% extends 'base.html' %}

{% block content %}
{% if form.non_field_errors %}
  <div class="alert alert-danger">
    {% for error in form.non_field_errors %}
      {{ error }}
    {% endfor %}
  </div>
{% endif %}
<form method="post" action="{% url 'login_v' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">用户名:</label>
      <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
      <label for="password">密码:</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">登录</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
    </div>
  </form>
{% endblock %}